In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
%config IPCompleter.greedy=True

In [21]:
path='../src/datasets/athletes/'
#Cargar el primer fichero
pfile='Medals.csv'
print(src)
src=path+pfile
data_main=pd.read_csv(src, encoding="ISO-8859-1")
data_main.head()

../src/datasets/athletes/Medals.csv

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals
0,Michael Phelps,23.0,2008,08/24/2008,8,0,0,8
1,Michael Phelps,19.0,2004,08/29/2004,6,0,2,8
2,Michael Phelps,27.0,2012,08/12/2012,4,2,0,6
3,Natalie Coughlin,25.0,2008,08/24/2008,1,2,3,6
4,Aleksey Nemov,24.0,2000,10/01/2000,2,1,3,6

In [19]:
a=data_main['Athlete'].unique().tolist()

len(a)

6956

In [26]:
pfile2='Athelete_Country_Map.csv'
src2=path+pfile2
data_country=pd.read_csv(src2, encoding="ISO-8859-1")
data_country[data_country['Athlete']== "Aleksandar Ciric"]

               Athlete                Country
1029  Aleksandar Ciric                 Serbia
1086  Aleksandar Ciric  Serbia and Montenegro

In [31]:
pfile3='Athelete_Sports_Map.csv'
src3=path+pfile3
data_sports=pd.read_csv(src3, encoding="ISO-8859-1")
data_sports[(data_sports['Athlete']=='Chen Jing' )| 
            (data_sports['Athlete']=='Richard Thompson' )| 
            (data_sports['Athlete']=='Matt Ryan')]
data_sports.head()

            Athlete       Sport
0    Michael Phelps    Swimming
1  Natalie Coughlin    Swimming
2     Aleksey Nemov  Gymnastics
3     Alicia Coutts    Swimming
4    Missy Franklin    Swimming