#  Datos distribuidos

## Importar el primer fichero
### Matriz de datos sparsed Pocas filas o columnas contienen datos utiles no nulos
* hacer un bucle para recorrer todos y cada uno de los ficheros
* importante consistencia en el nombre de los ficheros (Secuencia)
* Importar los ficheros  uno a uno
* Cada uno de los ficheros debe apendizarse (Cargarse al final del primer fichero)
* Repetir el bucle hasta que no queden ficheros

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
%config IPCompleter.greedy=True

In [27]:
mpath='../src/datasets/distributed-data/'
#Cargar el primer fichero
pfile1='001.csv'
c='.csv'
src=mpath+pfile1
data=pd.read_csv(src, sep=',')
final_length=len(data)
data

            Date  sulfate  nitrate  ID
0     2003-01-01      NaN      NaN   1
1     2003-01-02      NaN      NaN   1
2     2003-01-03      NaN      NaN   1
3     2003-01-04      NaN      NaN   1
4     2003-01-05      NaN      NaN   1
...          ...      ...      ...  ..
1456  2006-12-27      NaN      NaN   1
1457  2006-12-28      NaN      NaN   1
1458  2006-12-29      NaN      NaN   1
1459  2006-12-30      NaN      NaN   1
1460  2006-12-31      NaN      NaN   1

[1461 rows x 4 columns]

## Pasos para cargar todos 
* Total 332 archivos
* Se puede convertir en una funcion
* Para comprobar que se cargo todoSumar todas lsa filas de los datasets, sumar los archivos cargados

In [34]:
mpath='../src/datasets/distributed-data/'
pfile1='001.csv'
c='.csv'
src=mpath+pfile1
data=pd.read_csv(src, sep=',')
final_length=len(data)

for i in range (2, 333):
    if i < 10:
        filename = "00"+str(i)
    elif 10 <= i < 100:
        filename ='0' + str(i)
    if i >= 100:
        filename = str(i)
   
    file = mpath+filename+c
    #print(file)
    temp_data = pd.read_csv(file)
    final_length+=len(temp_data)
    data = pd.concat([data,temp_data], axis = 0)

Datos cargados  772087

In [36]:
#Comprobar que la carga global coincide con el número de datos
print("Datos cargados: ",final_length)
final_length==data.shape[0]

Datos cargados:  772087

True

In [30]:
#se tienen  listos los datos
data.shape

(772087, 4)

In [31]:
data.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332