In [88]:
%config IPCompleter.greedy=True
import numpy as np
a=np.random.randint(1,10)
a

1

In [44]:
np.random.random()

0.9543498441842424

In [49]:
#Generar una lista de numeros aleatorios entre A y B
def randlist(n,a,b):
    x=[]
    for i in range(n):
        x.append(np.random.randint(a,b))
    return x

In [51]:
randlist(25,1,50)

[11,
 35,
 17,
 11,
 14,
 36,
 30,
 10,
 4,
 13,
 12,
 28,
 17,
 42,
 26,
 49,
 5,
 30,
 20,
 8,
 20,
 47,
 47,
 41,
 14]

In [70]:
import random
for i in range(10):
    print(random.randrange(0,100,7))

84
42
14
35
21
7
84
28
21
77

### Shuffling RANGE

In [87]:
import numpy as np
import random
a=np.arange(100)

np.random.shuffle(a)
a

array([39, 59, 92, 74, 76, 37, 84, 29, 40, 91, 24, 42, 77, 88,  5, 90, 53,
       57, 85, 46,  3, 64, 68, 43, 67, 58, 19, 31, 25, 30, 79,  9, 97, 13,
       35, 11,  4, 63,  0,  1, 23, 80, 99, 45, 81, 94, 20, 70, 65, 78, 12,
       54, 75, 51, 71, 34, 98, 72, 14, 56, 87, 15, 18, 38, 48, 83, 93, 22,
       66, 89, 50, 62,  6,  7, 86, 49, 82, 52, 26, 60, 36, 96,  2, 21, 28,
       73, 10, 33, 41, 16, 55, 69, 44, 47, 32, 95, 17,  8, 61, 27])

In [90]:
#CHOICES 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
mpath='../src/datasets/customer-churn-model'
pfile='Customer Churn Model.txt'
src=mpath+'/'+pfile
data=pd.read_csv(src, sep=',', header=0, )
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [96]:
#Elegir una columna de varias con Choice
cl=data.columns.values.tolist()
np.random.choice(cl)

'Area Code'

## Semilla de GeneraciÃ³n aleatoria

In [101]:
# La semilla es un nÃºmero par dar el valor inicial a los nÃºmeros aleatorios
np.random.seed(2018)
for i in range(5):
    print (np.random.random())

0.8823493117539459
0.10432773786047767
0.9070093335163405
0.3063988986063515
0.446408872427422