In [48]:
medals_url='http://winterolympicsmedals.com/medals.csv'
import urllib3
import pandas as pd

def downfromURL(url, filenameParam, mainpath='../src/datasets/_vid30_AMG/', sep=',', encoding='utf-8', delim='\n'):
    fold=mainpath
    http=urllib3.PoolManager()
    r=http.request('GET', medals_url)
    r.status
    r.data
    df_url=r.data
    str_data=df_url.decode('utf-8')
    lineas= str_data.split(delim)
    columnas=lineas[0].split(sep)
    counter =0
    dic={}
    n_cols=len(columnas)
    n_cols

    # poner nombres a las columnas
    for col in columnas:
        dic[col]=[]

    for line in lineas:
        if counter>0:
            valor_celda=line.strip().split(sep)
            for i in range(n_cols):
                dic[columnas[i]].append(valor_celda[i])
        counter +=1

    print('El dataset tiene %d filas y %d columnas'%(counter, n_cols))

    # convertir en DF
    df= pd.DataFrame(dic)
    df.head()

    #Aca se podra exportar a CSV
    extCSV='.csv'
    extJSON='.json'
    extXLS='.xls'
    filename=fold+filenameParam
    df.to_csv(filename+extCSV)
    df.to_json(filename+extJSON)
    df.to_excel(filename+extXLS)
    print("Los ficheros CSV JSON XLS se han guardado en la carpeta" +fold )
    return df

In [49]:
mm= downfromURL(medals_url, 'am22','../src/datasets/_vid30_AMG2/', 'ANDES2')
mm.head()

El dataset tiene 2312 filas y 1 columnas
Los ficheros CSV JSON XLS se han guardado en la carpeta../src/datasets/_vid30_AMG2/

  Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0  1924,Chamonix,Skating,Figure skating,AUT,indiv...
1  1924,Chamonix,Skating,Figure skating,AUT,indiv...
2  1924,Chamonix,Skating,Figure skating,AUT,pairs...
3  1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man...
4  1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice ho...