## Regresión usando  Sci KIT Learn  oara KR y selección de rasgos

In [3]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:

data=pd.read_csv('../src/datasets/ads/Advertising.csv')
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [10]:
#Columnas de prediccion
feature_cols=['TV','Radio','Newspaper']
x=data[feature_cols]
y=data['Sales']

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [12]:
# EL Estimador define un modelo  que es lineal
estimator= SVR(kernel='linear')
# Selector  Define que quiere dos variables predictivas y que lo haga en un paso
selector=RFE(estimator, 2, step=1)
# FIt entrena y ajusta el modelo con X y Y  X= Candidatas
selector= selector.fit(x,y)

C:\Users\root\anaconda3\envs\platzi\lib\site-packages\sklearn\utils\validation.py:68: FutureWarning: Pass n_features_to_select=2 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

In [15]:
#Describe cuales variables toma el modelo automático de SKLEARN
selector.support_
# LAS que dice True significa que fue seleccionda

array([ True,  True, False])

In [17]:
# Selecciona en ranking las variables que son elegidas apra el modelo y su ranking o significatrividad. 
# 
selector.ranking_

array([1, 1, 2])

In [21]:
from sklearn.linear_model import LinearRegression
x_pred= x[['TV', 'Radio']]
lm=LinearRegression()
lm.fit(x_pred, y)
lm

LinearRegression()

In [22]:

#Variables del modelo
lm.intercept_
lm.coef_
# Return the coefficient of determination R^2 of the prediction.
lm.score(x_pred, y)

0.8971942610828956